<ng-container *ngIf="!!review else loading">
    <div class="card card-body">
        <div class="wrapper">
            <h5 class="card-title">Rating: <span [ngClass]="review.rating >= 5 ? 'positive' : 'negative'">{{review.rating}}</span></h5>
            <ng-container *ngIf="!!user else loading">
                <ng-container *ngIf="!!user.username">
                    <p class="card-title">{{user.username}}</p>
                </ng-container>
                <ng-container *ngIf="!user.username">
                    <p class="card-title">Anonymous</p>
                </ng-container>
            </ng-container>
        </div>
        <ng-container *ngIf="!!review.text">
            <p class="card-title">{{review.text}}</p>
        </ng-container>
        <div class="wrapper">
            <button class="btn btn-danger" *ngIf="canDelete" (click)="remove()">Delete</button>
            <p class="text-right text-muted">{{review.postedAt | date: "dd MMM YYYY"}}</p>
        </div>
    </div>
</ng-container>

<ng-template #loading>
    <p>Loading...</p>
</ng-template>