:host {
    max-width: 1000px;
    display: block;
    margin: auto;
    padding: 3rem;
}

.wrapper {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
}

.avatar {
    margin: 10px;
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}

.text-centered {
    text-align: center;
}