:host {
    max-width: 1000px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 5rem;
}

.container {
    width: 750px;
}

.wrapper {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
}

.wrapper-column {
    flex-direction: column;
    text-align: center;
    gap: 0.5rem;
}

.stretch {
    align-items: stretch;
}

.wide {
    width: 80%;
}

.wide-250 {
    width: 250px;
}

.avatar {
    margin: 10px;
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}

.text-centered {
    text-align: center;
}