<div *ngIf="!!currentUser else loading" class="container">
    <div class="card card-body mb-3">
        <div *ngIf="!editing else editMode" class="wrapper">
            <div class="wrapper">
                <img src='{{currentUser.avatar}}' class="avatar" alt="avatar">
                <h3>{{currentUser.username}}</h3>
            </div>
            <button (click)="editProfileToggle()"  class="btn btn-outline-primary">Edit Profile</button>
        </div>
    </div>

    <h2 class="card-title text-centered">My reviews</h2>

    <ng-container *ngIf="!!currentUser.reviews else noReviews">
        <app-review *ngFor="let review of currentUser.reviews | slice: (page-1) * pageSize : page * pageSize" [reviewId]="review" (removeItem)="deleteReview($event)" [displayGame]="true"></app-review>
        <ngb-pagination [ngClass]="{'d-none': (currentUser.reviews.length <= pageSize)}" [(page)]="page" [pageSize]="pageSize" [collectionSize]="currentUser.reviews.length"></ngb-pagination>
    </ng-container>
</div>

<ng-template #loading>
    <p>Loading...</p>
</ng-template>

<ng-template #noReviews>
    <p>This user has not submitted any reviews yet.</p>
</ng-template>

<ng-template #editMode>
    <form [formGroup]="profileForm" (ngSubmit)="updateProfile$()">
        <fieldset>
            
            <label for="username"></label>
            <input formControlName="username" class="form-control {{showError('username') ?  'is-invalid' : ''}}" type="text" name="username" id="username" placeholder="New name">
            <ng-container *ngIf="showError('username')">
                <p class="invalid-feedback" *ngIf="validation('username', 'required')">Username is required!</p>
                <p class="invalid-feedback" *ngIf="validation('username', 'minlength') && !validation('username', 'required')">Username is too short!</p>
            </ng-container>


            <label for="avatar"></label>
            <input formControlName="avatar" class="form-control {{showError('avatar') ?  'is-invalid' : ''}}" type="text" name="avatar" id="avatar" placeholder="https://www.example.com/your/avatar">


            <button class="btn btn-primary m-3" [disabled]="this.profileForm.invalid">Update</button>
            <button class="btn btn-danger m-3" (click)="editProfileToggle()">Cancel</button>
            
        </fieldset>
    </form>
</ng-template>