<div class="container">
    <form class="login" [formGroup]="loginForm" (ngSubmit)="login()">
        <fieldset>

            <div class="m-3">
                <h2>Log In</h2>
                <h5>Don't have an account? <a routerLink="/user/register">Sign up</a></h5>
            </div>

            <div class="email">
                <label for="email"></label>
                <input formControlName="email" class="form-control {{showError('email') ?  'is-invalid' : ''}}" type="email" name="email" id="email" placeholder="example@email.com">
                <ng-container *ngIf="showError('email')">
                    <p class="invalid-feedback" *ngIf="validation('email', 'required')">Email is required!</p>
                    <p class="invalid-feedback" *ngIf="validation('email', 'email')">Invalid email!</p>
                </ng-container>
            </div>

            <div class="password">
                <label for="password"></label>
                <input formControlName="password" class="form-control {{showError('password') ?  'is-invalid' : ''}}" type="password" name="password" id="password" placeholder="**********">
                <ng-container *ngIf="showError('password')">
                    <p class="invalid-feedback" *ngIf="validation('password', 'required')">Password is required!</p>
                    <p class="invalid-feedback" *ngIf="validation('password', 'minlength')">Password is too short!</p>
                </ng-container>
            </div>

            <div class="errorMessage">
                <p *ngIf="errorMessage" class="error">{{errorMessage}}</p>
            </div>

            <div class="button">
                <button class="btn btn-success m-3" [disabled]="this.loginForm.invalid">Log In</button>
            </div>

        </fieldset>
    </form>
</div>