<div class="card card-body">
    <div class="wrapper">
        <a [routerLink]="['/games', game._id]" class="game-title wrapper">
            <div class="average-rating {{game.average > 0 ? (game.average >= 5 ? 'positive' : 'negative') : 'd-none'}}">{{game.average  | number: '0.0-1'}}</div>
            <h3 class="card-title">{{game.title}}</h3>
        </a>
        <h5 class="card-title pb-3">{{game.developer}}</h5>
    </div>
    
    <p class="card-text">{{(game.description.length > 250) ? (game.description | slice:0:300) + "..." : (game.description)}}</p>
    <div class="wrapper">
        <p class="text-small text-muted"><small>{{game.genre.join(", ")}}</small></p>
        <p class="text-small text-muted"><small>{{game.releaseDate | date:'dd MMM YYYY'}}</small></p>
    </div>
</div>
