.wrapper {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.game-title {
    text-decoration: none;
    color: inherit
}

.average-rating {
    display: block;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    width: 35px;
    height: 35px;
    border-radius: 20px;
    border: 1px solid gray;
    margin-bottom: 0.5rem;
}

.positive {
    color: green;
    border-color: green;
}

.negative {
    color: red;
    border-color: red;
}