<ng-container *ngIf="!!game else loading">
    <app-game [game]="game"></app-game>

    <ng-container *ngIf="!!game.reviews else noReviews">
        <app-review (removeItem)="deleteReview($event)" *ngFor="let review of game.reviews" [reviewId]="review"></app-review>
    </ng-container>
    
    <ng-container *ngIf="(isLogged$ | async)">
        <button [ngClass]="addReviewShow ? 'btn btn-danger' : 'btn btn-primary'" (click)="addReviewToggle()">{{addReviewShow ? "Cancel" : "Add review"}}</button>
        <app-add-review (addItem)="submitReview($event)" [ngClass]="addReviewShow ? '' : 'd-none'"></app-add-review>
    </ng-container>
</ng-container>

<ng-template #loading>
    <p>Loading...</p>
</ng-template>

<ng-template #noReviews>
    <p>This game has no reviews yet.</p>
</ng-template>
