.wrapper {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.text-right {
    text-align: right;
}

.positive {
    color: green;
}

.negative {
    color: red;
}

.avatar {
    width: 20px;
    height: 20px;
    object-fit: cover;
    border-radius: 50%;
}

.game-title {
    text-decoration: none;
    color: inherit
}

.mr {
    margin-right: 1rem;
}

.justify-content-end {
    justify-content: flex-end;
}

.justify-content-start {
    justify-content: flex-start;
    align-items: center;
}

input {
    font-size: 20px;
    padding: 0.3rem 0.5rem;
    border-radius: 5px;
}

.star {
    font-size: 1.5rem;
    color: #b0c4de;
  }
.filled {
    color: #1e90ff;
}