:host {
    display: block;
    background-color: aqua;
}

header {
    max-width: 1200px;
    margin: auto;
    padding: 10px;
}

.wrapper {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
}