<div class="card-header wrapper">
    <div class="wrapper">
        <div class="average-rating {{game.average > 0 ? (game.average >= 5 ? 'positive' : 'negative') : 'neutral'}}">{{game.average > 0 ? (game.average | number:'0.0-1') : '-'}}</div>
        <h2 class="card-title">{{game.title}}</h2>
    </div>
    <h5 class="card-title pb-3">{{game.developer}}</h5>
</div>
<div class="card-body">
    <p class="card-text">{{game.description}}</p>
    <div class="wrapper">
        <div class="left-side">
            <h6>Genres:</h6>
            <p class="text-muted"><small>{{game.genre.join(", ")}}</small></p>
        </div>
        <div class="right-side">
            <h6>Release Date:</h6>
            <p class="text-muted"><small>{{game.releaseDate | date:'dd MMMM YYYY'}}</small></p>
        </div>
    </div>
</div>